name: Docker Image CI

on:
  push:
    branches: 
      - docker
    paths-ignore:
      - 'README.md'
      - .github/**
      - docs/**
  pull_request:
    branches: 
      - docker
    paths-ignore:
      - 'README.md'
      - .github/**
      - docs/**
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Log in to Docker Hub
      uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a
      with:
        username: ${{ secrets.HUB_DOCKER_USERNAME }}
        password: ${{ secrets.HUB_DOCKER_PASSWORD }}   
    - name: Extract metadata (tags, labels) for Docker
      id: meta
      uses: docker/metadata-action@9ec57ed1fcdbf14dcef7dfbe97b2010124a938b7
      with:
        images: nicesteven/nexamerchant

    - name: Build and push Docker image version
      uses: docker/build-push-action@v2
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: |
          nicesteven/nexamerchant:${{secrets.DOCKER_VERSION }}
          nicesteven/nexamerchant:latest