name: Prod

on:
  push:
    branches: [ "main","main_de","main_us" ]
    paths-ignore:
      - 'README.md'
      - .github/**
      - docs/**
  pull_request:
    branches: [ "main","main_de","main_us" ]

jobs:
  laravel-tests:
    runs-on: ubuntu-latest
    container:
      image: kirschbaumdevelopment/laravel-test-runner:8.1
    services:
      mysql:
        image: mysql:5.7
        env:
          MYSQL_ROOT_PASSWORD: password
          MYSQL_DATABASE: test
        ports:
          - 33306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

    steps:
    - uses: shivammathur/setup-php@15c43e89cdef867065b0213be354c2841860869e
      with:
        php-version: '8.1'
    - uses: actions/checkout@v3
    - name: Copy .env
      run: php -r "file_exists('.env') || copy('.env.example', '.env');"
    - name: composer install 
      run: composer install -vvv --no-scripts
    - name: Directory Permissions
      run: chmod -R 777 storage bootstrap/cache
    - name: Generate key
      run: php artisan key:generate
    - name: Create Database
      run: |
        mkdir -p database
        touch database/database.sqlite
    - name: Execute tests (Unit and Feature tests) via pest
      env:
        DB_CONNECTION: mysql
        DB_HOST: mysql
        DB_PORT: 3306
        DB_DATABASE: test
        DB_USERNAME: root
        DB_PASSWORD: password
      run: php artisan migrate && php artisan db:seed
    - name: Sync to Server 1 and Do it
      uses: appleboy/ssh-action@master
      env:
        GITHUB_SHA_X: ${GITHUB_SHA}
      with:
        host: ${{ secrets.SSH_HOST }}  
        username: ${{ secrets.SSH_USERNAME }}
        key: ${{ secrets.DEPLOY_KEY }}
        port: ${{secrets.SSH_PORT }}
        script: |
          cd ${{ secrets.WWW_DIR }} && sudo git pull
          sudo -u www vendor/bin/pest
          cd ${{ secrets.WWW_DIR_2 }} && sudo git pull
          sudo -u www vendor/bin/pest
          cd ${{ secrets.WWW_DIR_3 }} && sudo git pull
          sudo -u www vendor/bin/pest
          cd ${{ secrets.WWW_DIR_4 }} && sudo git pull
          sudo -u www vendor/bin/pest
    - name: Sync to Server 2 and Do it
      uses: appleboy/ssh-action@master
      env:
        GITHUB_SHA_X: ${GITHUB_SHA}
      with:
        host: ${{ secrets.SSH_HOST_US }}  
        username: ${{ secrets.SSH_USERNAME_US }}
        key: ${{ secrets.DEPLOY_KEY_US }}
        port: ${{secrets.SSH_PORT_US }}
        script: |
          cd ${{ secrets.WWW_DIR_US }} && git pull
          sudo -u www vendor/bin/pest
